/* body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-box {
  border: 4px solid #000 !important;
}

table,
tbody,
th,
td,
tr {
  width: 100%;
}

.best-seller-prod:nth-child(1) {
  left: -150px;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

h2 {
  font-size: 2rem !important;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

h4 {
  font-size: 1.25rem;
  margin: 0;
}

h5 {
  font-size: 1rem;
  margin: 0;
}

h6 {
  font-size: 0.875rem;
  margin: 0;
} */